In [1]:
import pandas as pd

data = [1,2,3]

s = pd.Series(data,index=[0,1,2])

s

0    1
1    2
2    3
dtype: int64

In [2]:
import pandas as pd

In [3]:
#create datframe

In [4]:
df_simple = pd.DataFrame([1,2,3,4,5])

In [5]:
df_simple

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
df_middle = pd.DataFrame([[1,2],['shital','ishan']],columns = ['s1','s2'])

In [7]:
df_middle

       s1     s2
0       1      2
1  shital  ishan

In [8]:
d1 = {'Name' : ['shital','ishan'],'Age' :[30,3]}

In [9]:
d1

{'Name': ['shital', 'ishan'], 'Age': [30, 3]}

In [10]:
df = pd.DataFrame(d1,index = [1,2])

In [11]:
df

     Name  Age
1  shital   30
2   ishan    3

In [12]:
type(df.Name)

pandas.core.series.Series

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.Name.index[0]

1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 1 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Age     2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 48.0+ bytes

In [27]:
df.dtypes

Name    object
Age      int64
dtype: object

In [16]:
#pd.__Version__

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 1 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Age     2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 48.0+ bytes

In [21]:
df.shape

(2, 2)

In [19]:
#df.pd.read_csv()